/* Hero section styles*/

.hero-section {
    background-image: url('../resources/images/backgrounds/gym3.jpeg');
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 5px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 420px;
    text-align: center;
    border-radius: 2px; 
}

.hero-section > .bottom-heading {
  background-color: #CCCCCC;
  color: #11122b;
  padding: 1px 1px;
  margin-top: 15px;
  width: 276px;
  border-radius: 2px;
  text-align: center;
}