/*Common Nav Styles*/

.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #9e353b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px ; 
}

/*Left Column Styles*/

.navigation-wrapper > .left-column {
    display: flex;
    align-items: center;    
}

.navigation-wrapper > .left-column > .phone-icon {
    margin-right: 15px;
    font-size: 2em;
    color: #9e353b;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;    
}

.contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;    
    font-size: 0.8em;
}


/*Center Column Styles*/

.navigation-wrapper > .center-column > .banner-image img {
    width:  100px;
    height: 100%;
}

.navigation-wrapper > .center-column > .banner-message {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

/*Right Column Styles*/

.navigation-wrapper > .right-column {
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column > .address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;      
}

.navigation-wrapper > .right-column > .contact-icon { 
    font-size: 2em;
    color: #9e353b;
    margin-left: 15px;
}

