.NavBar {
    background-color: cobaltblue;
}

a {
    text-decoration: none;
}

.NavBar ul li {
    list-style-type: none;
    text-decoration: none;
}

.nav-link {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: gold;
}