.NavBar {
    background-color: cobaltblue;
}

a {
    text-decoration: none;
}

.NavBar ul li {
    list-style-type: none;
    text-decoration: none;
}

.links-wrapper > .nav-link a{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(184, 157, 6);
}